name: CI - Build and Test
on:
  pull_request:
    branches: [master, develop]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # set up java
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      # maven builds clean package and then runs test on that
      - name: Build and test with Maven
        run: mvn clean verify
