name: Java CI with Maven

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      
      - name: Build and test with Maven
        run: mvn -B package --file pom.xml
      
      - name: Log in to GitHub Container Registry
        if: github.ref == 'refs/heads/master'
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
      
      - name: Build and push Docker image
        if: github.ref == 'refs/heads/master'
        run: |
          docker build -t ghcr.io/${{ github.repository }}/bitelo-api:latest .
          docker push ghcr.io/${{ github.repository }}/bitelo-api:latest